body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  padding: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.background-img {
  width: 100%;
  height: 50rem;
  background-image: url('./components/images/2.jpg');
  background-size: 100% 100%;
  border: 1px solid red;
  margin-top: -3rem;
}

.background-main {
  margin-top: 12rem
}

 .p-1 {
  color: white;
  font-size: 4rem;
}

.p-2 {
  color: white;
  font-size: 4rem;
  margin-top: -3rem;
}

.p-3a {
 
  color: white;
  font-size: 1.5rem;
  margin-top: -2rem;

}

.title {
  color:black;
} 


.box {
  width: 40%;
  height: 12rem;
  background-image: linear-gradient(#4d0000, black);
  background-size: 100% 100%;
  margin-top: 3rem;
  opacity: 0.8;
  
  
  
} 



input[type=text] {
  width: 65%;
  padding: 12px 20px;
  margin: 3rem 1rem 0 0;
  box-sizing: border-box;
  /* background: blue; */
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 20rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.title-2 {
  margin: 4rem 0 2rem 0;
}

.p-title {
  margin: 0.5rem;
}

.box-2:hover {
  background-color: yellow;
}

.copyright {
  color: gray;
}

.img-2:hover .overlay {
  opacity: 0.1;
}

#search1 {
  width: 30rem;
  margin-top: 0rem;
}